*.php text eol=lf

* export-ignore

# Include only the files we want in the release
src/** -export-ignore
composer.json -export-ignore
composer.lock -export-ignore
README.md -export-ignore
LICENSE -export-ignore
