name: PHPStan

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                include:
                    - { operating-system: 'ubuntu-latest', php-version: '8.2', dependencies: '' }

        name: PHP ${{ matrix.php-version }}

        steps:
            -   uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    coverage: pcov
                    tools: composer:v2

            -   name: Install dependencies
                run: |
                    composer install --no-interaction --prefer-dist --no-progress ${{ matrix.dependencies }}

            -   name: Analyze code for issues
                run: |
                    php vendor/bin/phpstan analyse
